aiocache
aiohttp
aiohttp>=3.9.5
aiosmtplib
aiosqlite
apscheduler
apscheduler>=3.10.0
asyncpg
av
chat-exporter
chromadb
colorgram.py
deepl
duckduckgo-search
emoji
fastapi
googletrans-py
httpx
imageio-ffmpeg
jinja2
json5
kaleido
matplotlib
msgpack
numpy
openai
openai>=2.29.0
openpyxl
orjson
pandas
piccolo
piccolo>=1.0.0
piccolo[postgres]
piccolo[sqlite]
Pillow
plotly
psutil
py-cpuinfo
py-spy
pydantic>=2.11,<2.12
pydantic[email]
Pympler
PyMuPDF
pypandoc_binary
python-decouple
python-dotenv
python-multipart
pytz
rapidfuzz
redbot-orm
requests
sentry_sdk
speedtest-cli>=2.1.3
tabulate
tenacity
tiktoken>=0.9.0
ujson
utils
uvicorn
watchdog
xbox-webapi
xlrd
xmltojson
